= form_for [@project, @project_activity], remote: true do |f|
  =# f.fields_for :project_activities,  do |praty|
  = f.hidden_field :autocomplete_user_id, :id => "autocomplete_selected_value"
  = f.autocomplete_field :autocomplete_user_email, autocomplete_user_email_users_path, :id_element =>"#autocomplete_selected_value"
  = f.submit "Assign"
