= form_for [@project, @project_activity] do |f|
  = f.hidden_field :projectable_id, :id => "autocomplete_selected_value"
  = f.autocomplete_field :autocomplete_user_email, autocomplete_user_email_users_path, :id_element =>"#autocomplete_selected_value"
  = f.submit