= form_for(@project_activity) do |f|
  - if @project_activity.errors.any?
    #error_explanation
      %h2
        = pluralize(@project_activity.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @project_activity.errors.full_messages.each do |message|
          %li= message
  = f.text_field :status
  .actions
    = f.submit
