- proj_activity_status = project_activity.aasm.events.map{|eve| [eve.name.to_s.titlecase, eve.name]}
- if proj_activity_status.present?
  = form_tag  [@project, project_activity], remote: true, method: :put, class: "form_proj_act_#{project_activity.id}" do
    = select(:status,'', proj_activity_status,{prompt: "Change Status", selected: project_activity.status}, onchange: "$('.form_proj_act_'+#{project_activity.id}).submit();")
