= link_to "create proj", new_project_path
%p#notice= notice

- if @assigned_projects.present? 
  %h1 
  %table
    %thead
      %tr
        %th Project Name
        %th{colspan: "3"} Link
    %tbody
      - @assigned_projects.each do |project|
        %tr
          %td= project.name
          %td
            = link_to "Check Activity", [project, ProjectActivity, check_acty: true]
          
  %br/
- else
  - if not params[:assigned].present? and not params[:check_acty].present? and is_admin_of_project?(@project)
    .assign_form_group
      = render partial: "assign_form"
      
  - if params[:check_acty].present?
    - last_project_activity = ProjectActivity.get_last_project_activity_of_an_project(current_user, @project.id)
    = form_for [@project, ProjectActivity.new], remote: true do |f| 
      = f.label :comment
      = f.text_area :comment
      %br/
      = f.label :status
      - proj_activity_status = last_project_activity.aasm.events.map{|eve| [eve.name.to_s.titlecase, eve.name]}
      = f.select(:status, [["Change Status", ""]] + proj_activity_status,{prompt: "Change Status"})

      = f.submit "submit"
    %h5 Status : #{last_project_activity.status}
  - if @project_activities.present?
    %h1 
    %table
      %thead
        %tr
          %th Name
          %th Comment
          
      %tbody
        = render partial: "proj_activity_list"
    %br/