

%p#notice= notice
= link_to 'Back', projects_path

= @project.name
= form_for @project do |f|
  = f.text_field :name
  = f.fields_for :project_activities, ProjectActivity.new do |praty|
    = praty.hidden_field :autocomplete_user_id, :id => "autocomplete_selected_value"
    = praty.autocomplete_field :autocomplete_user_email, autocomplete_user_email_users_path, :id_element =>"#autocomplete_selected_value"
  = f.submit