<% if @project_activity.errors.present? and params[:status].present? %>
  $('.change_state.alert_proj_act_<%= @project_activity.id %>').html('<%= @project_activity.errors[:status].first %>')
<% else %>
  $('.change_state.change_proj_act_status_<%= @project_activity.id %>').html('<%= @project_activity.status %>')
  $('.change_state.alert_proj_act_<%= @project_activity.id %>').html('successful');
  <!-- $('.select_proj_act_<%= @project_activity.id %>').html('< %= j render partial: 'select_status', locals: {project_activity: @project_activity} %>'); -->
<% end %>