= form_for([current_organization, @user]) do |f|
  -# - if @user.errors.any?
    -# #error_explanation
      -# %h2
        -# = pluralize(@user.errors.count, "error")
        -# prohibited this user from being saved:
      -# %ul
        -# - @user.errors.full_messages.each do |message|
          -# %li= message
  .field
    = f.label :email
    %br/
    = f.email_field :email #, autofocus: true
  -# .field
    -# = f.label :password
    -# - if @minimum_password_length
      -# %em
        -# (#{@minimum_password_length} characters minimum)
    -# %br/
    -# = f.password_field :password, autocomplete: "off"
  -# .field
    -# = f.label :password_confirmation
    -# %br/
    -# = f.password_field :password_confirmation, autocomplete: "off"

  .actions
    = f.submit params[:action] == "new" ? "Sign up" : "Update"
