= link_to "create user",  new_user_path 
%h1 Listing Users Es
%table
  %thead
    %tr
      %th Name
      %th Email
      %th{colspan: "3"} Link
  %tbody
    - @users.each do |user|
      %tr
        %td
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(current_organization) 
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
