= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  = f.text_field :name
  .actions
    = f.submit
