= link_to "create proj", new_project_path
%p#notice= notice
%h1 
%table
  %thead
    %tr
      %th Name
      %th{colspan: "3"} Link
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to 'Show',  new_project_project_activity_path(project)
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Proj Act',  project_project_activities_path(project)
%br/