- if current_organization.projects.present?
  = form_tag  new_dashboard_path, method: :get do
    = hidden_field_tag :params_attr, params
    = select(:project_id,'', ["select project"] + @projects.select(:id, :name).collect{|proj| [proj.name, proj.id]},{prompt: "Please select project", selected: (@project.id rescue nil)},onchange: "this.form.submit();")
- else
  No more projects
  = link_to "Go back", projects_path
