= form_tag  new_dashboard_path, method: :get do
  = hidden_field_tag :set_org, true
  = hidden_field_tag :params_attr, params
  = hidden_field_tag :check_page, true if params[:controller] == "project_activities"
  = select(:organization_id,'', @organizations.collect{|org| [org.name, org.id]},{prompt: "Please select organization", selected: (current_organization.id rescue nil)},onchange: "this.form.submit();")