=# link_to "create user",  new_user_path 
=# link_to "User List",  users_path 
=# link_to "assigned project",  user_projects_path(user_id: current_user.id)
%p#notice= notice
%h1 
%table
  %thead
    %tr
      %th Name
      %th Description
      %th{colspan: "3"} Link
  %tbody
    - current_user.organizations.each do |org|
      %tr
        %td= org.name
        %td= org.description
        %td= link_to 'Details', organization_path(org, :set_org => true)
        %td= link_to 'Edit', edit_organization_path(org)
        %td= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' }
%br/