=# link_to "create user",  new_user_path 
=# link_to "User List",  users_path 
=# link_to "assigned project",  user_projects_path(user_id: current_user.id)
%h1 
%table
  %thead
    %tr
      %th Name
      %th Description
      %th{colspan: "3"} Link
  %tbody
    %tr
      %td= current_organization.name
      %td= current_organization.description
      %td= link_to 'Projects', projects_path
      %td= link_to 'Edit', edit_organization_path(current_organization)
      %td= link_to 'Destroy', current_organization, method: :delete, data: { confirm: 'Are you sure?' }
%br/