- if can? :index, Organization
  = link_to "Organization list",  dashboard_index_path
- if can? :new, Organization
  = link_to "create Org", new_organization_path
- if can? :new, User
  = link_to "create user",  new_user_path 
- if can? :index, User
  = link_to "User List",  users_path

= link_to "Projects",  projects_path

- if can? :new, Project
  = link_to "new Projects",  new_project_path if current_organization
- if  @project.present? and can? :index, @project
  = link_to "assign project",   project_project_activities_path(:project_id => (params[:project_id].present? ? params[:project_id] : 0)) #if true @project
  = link_to "assigned project",   project_project_activities_path(:project_id => (params[:project_id].present? ? params[:project_id] : 0), assigned: true) #if true @project