!!!
%html
  %head
    %title TestProjectWithPuma
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body
    - if current_user
      = flash[:alert]
      - flash[:alert] = nil
      = render partial: "layouts/breadcrum"
      = render partial: "layouts/menu_bar"
    %p#notice= notice
    = yield
